<div class="content">
  <a class="close">&times;</a>
  <h1><%= data.model %></h1>
  <div class="landing-pad">
    <div class="wingspan">Wingspan: <%= data.wingspan %></div>
    <div class="length">Length: <%= data.length %></div>
  </div>
  <ul class="stats">
    <li> <b>Material</b>: <%= data.material %>
    <li> <b>Launch date</b>: <%= data.launched %>
      <% if (data.production == "YES") { %>
      (still in production)
      <% } %>
  </ul>
  <p class="notes">
    <b>Notes</b>: <%= data.notes %>
  </p>
</div>