@import "seattletimes";

.svg-container {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, lighten(@st-light-blue, 5%), lighten(@st-light-blue, 10%));

  &::before {
    content: "";
    display: block;
    padding-bottom: 50%;
  }

  .plane {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .3s linear;
  }
}

header.splash {
  text-align: center;
  padding: 100px 0;
  z-index: 999;
  position: relative;

  h1 {
    font-size: 100px;
    font-style: italic;
  }

  .chatter {
    font-family: @df-sans;
    font-size: 21px;
    margin: 0 auto;
    max-width: 400px;
  }
}

main.timeline {

  max-width: 800px;
  margin: auto;

  .stage {
    background: fade(white, 90%);
    margin-bottom: 300px;
    position: relative;
    box-shadow: 0px 8px 16px -8px fade(black, 20%);

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      font-style: italic;
      padding: 16px;
      margin: 0;
      display: block;
      text-align: center;
    }
  }

  .row {
    .display-flex();

    @media @tablet {
      display: block;
    }
  }

  .photo {
    padding: 0 0 0 16px;
    .flex(2);

    img {
      display: block;
      width: 100%;
    }

    .credit {
      text-align: right;
      text-transform: uppercase;
      font-size: 14px;
      font-style: italic;
      font-family: @df-sans;
    }

    .caption {
      font-size: 16px;
      font-family: @df-sans;
      padding: 8px 0;
    }
  }

  .text {
    font-size: 14px;
    padding: 0 16px;
    .flex(1);

    p:first-child {
      margin-top: 0;
    }
  }

}

aside.explore {
  padding: 100px 50px;
  position: relative;

  @grid-spacing: 20px;
  @grid-bg: desaturate(@df-blue, 60%);
  @grid-fg: lighten(desaturate(@df-blue, 80%), 25%);
  @grid: 
    repeating-linear-gradient(transparent, transparent 3px, @grid-bg 3px, @grid-bg 4px, transparent 4px),
    repeating-linear-gradient(to right, transparent, transparent 3px, @grid-bg 3px, @grid-bg 4px, transparent 4px),
    repeating-linear-gradient(@grid-fg, @grid-fg 1px, transparent 1px, transparent @grid-spacing),
    repeating-linear-gradient(to right, @grid-fg, @grid-fg 1px, transparent 1px, transparent @grid-spacing);

  h3 {
    text-align: center;
    font-family: @df-sans;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 15px;
    margin: 0 0 50px;
  }

  .plane-frame {
    .display-flex();
    .flex-wrap(wrap);
    .justify-content(space-around);
    .align-items(center);
  }

  .plane-wrapper {
    padding: 20px;
    cursor: pointer;

    label {
      display: block;
      font-size: 14px;
      text-align: center;
      margin: 8px 0;
      font-family: @df-sans;
      color: @df-middle-gray;
      transition: all .3s linear;
    }

    &:hover, &.focus {
      label {
        color: @df-dark-gray;
      }

      .plane {
        transform-origin: 50% 50%;
        transform: scale(1.2);
      }
    }
  }

  .plane {
    display: block;
    margin: auto;
    transition: all .2s ease-in-out;

    @media @mobile {
      max-width: 100px;
      height: auto;
      margin: 5px;
    }
  }

  .plane-detail {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: fade(white, 40%);
    transition: opacity .3s linear;
    font-family: @df-sans;
    font-size: 16px;
    z-index: 999;

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background: white;
      padding: 20px;
      width: 100%;
      max-width: 60%;
      box-shadow: 0 0 16px 0 fade(black, 10%);

      @media @mobile {
        max-width: 95%;
        max-height: 100%;
        overflow-y: auto;
      }
    }

    h1 {
      font-size: 20px;
    }

    &.ready {
      display: block;
    }

    &.show {
      opacity: 1;
    }

    .close {
      float: right;
      font-size: 40px;
      font-weight: bold;
      cursor: pointer;
      transition: all .2s linear;
      border-radius: 100%;
      color: @st-dark-blue;

      &:hover, &:focus {
        color: @df-blue;
      }
    }

    .landing-pad {
      position: relative;
      background: @grid-bg;
      background-image: @grid;
      overflow: hidden;
      color: white;
      font-weight: bold;
      text-shadow: 0 0 2px @grid-bg;
      width: 100%;

      &::before {
        content: "";
        display: block;
        padding-bottom: 40%;
      }

      .length, .wingspan {
        position: absolute;
        bottom: 8px;
        left: 0;
        width: 100%;
        text-align: center;
      }

      .wingspan {
        bottom: auto;
        top: 8px;
      }

      .plane {
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) rotate(-1deg);
        position: absolute;
        transition: all 1.5s ease-out .1s;
        margin: 0;
        max-width: 90%;
        min-width: 50%;
        height: auto;

        @media @mobile {
          min-width: 70%;
        }

        &.landing {
          transform: translate3d(-600px, -100px, 0) rotate(-4deg);
        }
      }
    }

    .stats {
      list-style-type: none;
      padding: 0;
    }
  }
}

.exploring {
  .plane.side {
    opacity: 0;
    z-index: -99;
  }
}