@import "seattletimes";

.svg-container {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, lighten(@st-light-blue, 5%), lighten(@st-light-blue, 10%));

  &::before {
    content: "";
    display: block;
    padding-bottom: 50%;
  }

  .plane {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .3s linear;
  }
}

header.splash {
  text-align: center;
  padding: 100px 0;
  z-index: 999;
  position: relative;

  h1 {
    font-family: @headline;
    font-size: 100px;
  }

  .chatter {
    font-family: @subhead;
    margin: 0 auto;
    max-width: 400px;
  }
}

main.timeline {

  max-width: 600px;
  margin: auto;

  .stage {
    background: fade(white, 90%);
    padding: 20px 40px;
    margin-bottom: 300px;
    position: relative;
    box-shadow: 0px 8px 16px -8px fade(black, 20%);

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      font-family: @subhead;
    }
  }

}

aside.explore {
  padding: 100px 50px;
  position: relative;

  h3 {
    text-align: center;
    font-family: @df-sans;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 15px;
    margin: 0 0 50px;
  }

  .plane-frame {
    .display-flex();
    .flex-wrap(wrap);
    .justify-content(space-around);
    .align-items(center);
  }

  .plane {
    margin: 20px;

    @media @mobile {
      max-width: 100px;
      height: auto;
      margin: 5px;
    }
  }

  .plane-detail {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: fade(white, 40%);
    transition: opacity .3s linear;
    font-family: @df-sans;
    font-size: 16px;
    z-index: 999;

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background: white;
      padding: 20px;
      width: 100%;
      max-width: 60%;
      box-shadow: 0 0 16px 0 fade(black, 10%);

      @media @mobile {
        max-width: 95%;
        max-height: 100%;
        overflow-y: auto;
      }
    }

    h1 {
      font-size: 20px;
    }

    &.ready {
      display: block;
    }

    &.show {
      opacity: 1;
    }

    .close {
      float: right;
      font-size: 40px;
      font-weight: bold;
      cursor: pointer;
      transition: all .2s linear;
      border-radius: 100%;
      color: @st-dark-blue;

      &:hover, &:focus {
        color: @df-blue;
      }
    }

    .landing-pad {
      position: relative;
      background: linear-gradient(to bottom, 
        @st-light-blue,
        lighten(@st-light-blue, 5%) 60%,
        @st-dark-green 60%,
        darken(@st-dark-green, 20%) 100%);

      &::before {
        content: "";
        display: block;
        padding-bottom: 40%;
      }

      .plane {
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) rotate(-1deg);
        position: absolute;
        transition: all 1s ease-out .3s;
        margin: 0;
        max-width: 90%;
        min-width: 30%;
        height: auto;
        opacity: 1;

        @media @mobile {
          min-width: 70%;
        }

        &.landing {
          transform: translate3d(-1000px, -300px, 0) rotate(-4deg);
          opacity: .5;
        }
      }
    }

    .stats {
      list-style-type: none;
      padding: 0;
    }
  }
}

.exploring {
  .plane.side {
    opacity: 0;
    z-index: -99;
  }
}