<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <div class="svg-container"></div>

    <%= t.include("partials/_nav.html") %>

    <header class="splash">
      <h1>Flying high</h1>
      <p class="chatter">
        The footnotes on some of Boeing’s early planes read, "Only one was ever built." But over the last 100 years Boeing has pioneered successful planes at each stage of the industry’s development, from early air mail carriers to the latest jets built with carbon-fiber composites.

      <p class="chatter">
        Below, in addition to a brief history of these stages, you’ll find an interactive guide to the evolution of Boeing’s commercial aircraft. 
    </header>

    <main class="timeline">
      <% json.BoeingAnniversary_timeline.forEach(function(row, index) { %>
      <section class="stage" id="">
        <h2><%= row.title %></h2>
        <div class="row">
          <% if (row.image) { %>
          <div class="photo">
            <img src="./assets/images/<%= row.image %>">
            <div class="credit"><%= row.credit %></div>
            <div class="caption"><%= row.caption %></div>
          </div>
          <% } %>
          <div class="text">
            <p>
            <%= row.text.replace("\n", "<p>") %>
          </div>
        </div>
      </section>
      <% if (index && index % 4 == 0) { %>
      <%= t.include("partials/_ad.html", { type: "banner" }) %>
      <% } %>
      <% }) %>
    </main>

    <aside class="explore">
      <h3>Explore the planes</h3>
      <div class="plane-frame"></div>
      <div class="plane-detail"></div>
    </aside>

    <footer class="bottom">

    </footer>

    <%= t.include("partials/_navBottom.html") %>

    <script>
window.planeDetail = <%= JSON.stringify(json.BoeingAnniversary_planes) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
