<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <div class="svg-container"></div>

    <%= t.include("partials/_nav.html") %>

    <header class="splash">
      <h1>Flying high</h1>
      <p class="chatter">
        Over the last 100 years, Boeing's story has paralleled the history of the United States, with ups, downs, and everything in between &mdash; even a boat or two!
    </header>

    <main class="timeline">
      <% json.BoeingAnniversary_timeline.forEach(function(row) { %>
      <section class="stage" id="">
        <h2><%= row.title %></h2>
        <div class="row">
          <% if (row.image) { %>
          <div class="photo">
            <img src="./assets/images/<%= row.image %>">
            <div class="credit"><%= row.credit %></div>
            <div class="caption"><%= row.caption %></div>
          </div>
          <% } %>
          <div class="text">
            <p>
            <%= row.text.replace("\n", "<p>") %>
          </div>
        </div>
      </section>
      <% }) %>
    </main>

    <aside class="explore">
      <h3>Explore the planes</h3>
      <div class="plane-frame"></div>
      <div class="plane-detail"></div>
    </aside>

    <footer class="bottom">

    </footer>

    <%= t.include("partials/_navBottom.html") %>

    <script>
window.planeDetail = <%= JSON.stringify(json.BoeingAnniversary_planes) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
